nav.navbar, .navbar-default {
  background-color: rgb(47, 164, 230) !important;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle {
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle .icon-bar {
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
}
